img {
	width: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-color: #F7F7F2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.original_title {
	color: #F7F7F2;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size:xx-large;
	padding: 5px;
}

.release_date {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #F7F7F2;
	padding: 5px;
}

.overview {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #F7F7F2;
	padding: 5px;
}

#search {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
	padding: 10px;
}

#searchButton {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#clearButton {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.movieCard {
	border-radius: 10px;
	width: 50%;
	display: flex;
	margin: 10px;
	flex-direction: column;
	padding: 30px;
	background-color: #2E4057;
	box-shadow: 10px 10px 5px rgb(223, 227, 228);
}

#movieDiv {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
}